.card {
  margin: 0 auto;
}
.card .carousel-item {
  height: 200px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #228B22;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    background-color: #006400;
    padding: 10px;
    
}
a:hover > .ico {
    background-color: #666;
}