<!DOCTYPE html>
<html lang="en">
 <head>
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Wait a minute!</h1>
               
                <div class="error-details">
                    An EmailException has occurred! Requested page not found!
                </div>
                <div class="error-actions">
                    <a href="/farm/error" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Email </a><a href="/farm" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-envelope"></span> Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>